/* GENERAL VARIABLES */
$FontFamily: 'Raleway', sans-serif;
$bordersColor:rgb(204, 204, 204);
$bordersRadius:12px;
$highlighColor:dodgerblue;
$lightGrey:rgb(190, 190, 190);

/* TODO LIST COMPONENT VARIABLES */
$todoListBackground:#fff;
$todoListPadding:1.5rem;
$todoListMinWidth:220px;